# Ignore static system data which take up hundreds of megabytes
*.static.1b.vic

# Ignore environment system data which are specific to device
*.env.1b.vic

# Ignore user-installed local data which are specific to device and user
*.local.1b.vic

# Ignore system memories, which are specific to the Vicaria installation
*.lmem.1b.vic
*.smem.1b.vic

# Ignore directives, which are specific to the Vicaria installation
*.direc.1b.vic
